<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
	
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>{% block title %}{% endblock %} TraceLOG</title>
    
    {% if TEMPLATE_DEBUG %}
	<link rel="stylesheet/less" href="{{ STATIC_URL }}less/main.less" type="text/css" />
    {% else %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endif %}		
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}icon.png"/>    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta name="description" content="Free Web-based GPS trace-logging system."/>
</head>
	
<body lang="en">
    <header>
	<h1><a href="{% url trace-index %}">TraceLOG</a></h1>
	<p>The GPS trace-road on Web.</p>
	<nav>
	    <ul>
		<li>
		    <a href="{% url start-record %}">
			<span>
			    {% block trace_button %}start a trace{% endblock %}
			</span>
		    </a>
		</li>
	    </ul>
	</nav>
    </header>
    
    <article>
	<header>
	    <h1>{% block h1 %}Looking for free GPS trace tool on Web? <span>Dislike mobile app Marketplaces? <a href="{% url start-record %}">Check-out the TraceLOG</a>.</span></h1>{% endblock h1 %}
	</header>	

        {% block google_map %}	
            <section id="googlemap">	
		<div id="map_canvas"></div>
	    </section>
	{% endblock %}

        {% block content %}
        {% endblock %}	    

    </article>
    

    <footer>
	    <section>
                <p>
                   This site was built using <a target="blank" href="http://www.djangoproject.com/">Django Web framework</a> and <a arget="blank" href="http://www.mongodb.org/">MongoDB</a>. It could be used on mobile or tablet due to the <a arget="blank" href="http://framelessgrid.com">Frameless</a>  &mdash;  A non-fluid grid system for adaptive web design.
                </p>
                <br/>		
	    </section>	
    </footer>
    
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    {% if TEMPLATE_DEBUG %}
	<script src="{{ STATIC_URL }}js/less.js"></script>
    {% endif %}
    {% block extra_script %}{% endblock %}
    
</body>

</html>
